<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}Lahore Super Steel Door{% endblock %}</title>
  </head>
  <body>
    <nav>
      <a href="{% url 'home' %}">Home</a>
      <a href="{% url 'service_list' %}">Services</a>
      <a href="{% url 'serviceBooking_list' %}">Booking</a>
      <a href="{% url 'signup' %}">Sign Up</a>
      <a href="{% url 'login' %}">Login</a>
    </nav>

    <hr />

    {% block content %} {% endblock %}
  </body>
</html>
