{% extends "base.html" %} {% block content %}
<h1>All Services</h1>
<ul>
  {% for service in services %}
  <li>
    <a href="{% url 'service_detail' service.pk %}">{{ service.name }}</a>

    - {{ service.price }}bd
    {% if call.user == user or user.role == user.Role.ADMIN %}
    <a href="{% url 'service_update' service.id %}">Edit</a> 
    <a href="{% url 'service_delete' service.id %}">Delete</a> 
    {% endif %}
  </li>
  {% empty %}
  <li>No services found.</li>
  {% endfor %}
</ul>
{% if call.user == user or user.role == user.Role.ADMIN %}
<a href="{% url 'service_create' %}">create service</a>
{% endif %}

      <a href="{% url 'serviceBooking_create' %}">Book Now</a>


 

{% endblock %}
