{% extends "base.html" %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'service.css' %}">
<section class="service-section service-detail">
  <h2>{{ service.name }}</h2>
  <p>{{ service.description }}</p>
  <p><strong>Price:</strong> {{ service.price }} BD</p>
  {% if service.product_image %}
  <img src="{{ service.product_image.url }}" alt="{{ service.name }}">
  {% endif %}
  <p>Status: {{ service.is_active }}</p>

  <a href="{% url 'service_list' %}">Back to Services</a>
</section>
{% endblock %}
